{% extends 'promanagerindex.html' %} 
{% load static %} 
{% block content %}
<html>
    <title>Create Project</title>
    <style>
      input[type=text],
      input[type=text]:focus {
        background-color: #2a3038;
      }
    </style>

    <form class="card col-12" method="post" action="">

        {% csrf_token %}
        <div class="card-body col-12">
            <h2>Create Project</h2><br>
            <label>Project Name</label>
            <input type="text" name="pname" class="form-control card-title col-12 md-4 text-light" autocomplete="off" >
            <label>Start Date</label>
            <input type="date" name="sdate" class="form-control card-title col-12 md-4">
            <label >End Date</label>
            <input type="date" name="edate" class="form-control card-title col-12 md-4">
            <label >Description</label>
            <textarea type="text" name="desc" style="height: 100px;" class="form-control card-title col-12 md-4" style='color:white'></textarea>
            <label >File Upload</label>
            <input type="file" name="pfile" class="form-control card-title col-12" style='color:white'>
              <div class="vertical-center">
                <button type="submit" style="float: right;" class="btn btn-outline-primary btn-icon-text">
                  <i class="mdi mdi-file-check btn-icon-prepend"></i> Create </button>
                
              </div>
            </div>
        </tr>
        </div>
    </form>
</form>
{% endblock %}

</html>
